.header {
    background-color: #333;
    color: white;
    background-color: rgb(35, 119, 188);
    padding: 30px 48px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.header_container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
  